
h1 {
    color: red;
    font-family: roboto;
    text-align: center;
   }

#blue-bordered {
    border: 
    5px dashed #313194
   }
nav {
    color: black;
    font-family: roboto;
    text-align: center;
}


 
 h2 {
    color: purple;
    font-family: roboto;
    text-align: left;
}

h3 {
    color: black;
    font-family: roboto;
    text-align: left;
}

